<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<!-- @@RenderSection("head"); TODO: make this work somehow -->
	<link href="@Url.Content("~/static/css/common.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/static/css/canvas-page.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/static/css/landing-page.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/static/css/ui-lightness/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css"/>
	<script src="@Url.Content("~/static/js/jquery/jquery-1.7.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/static/js/jquery/jquery-ui-1.8.21.custom.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/static/js/jquery.transparent.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/static/js/canvas-page.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/static/js/canvas-actions.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/static/js/landing-page.js")" type="text/javascript"></script>
</head>

<body id="@ViewBag.BodyId" class="@ViewBag.BodyClass" data-host-domain="@ViewBag.HostDomain">
    @RenderBody()

	<script>
		$(function() {
			$('#window-size').html($(window).width() + ' x ' + $(window).height());
		});
	</script>

</body>
</html>
